* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #483d8b; */
    background-image: url("gfx/background3.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    overflow: hidden;
}

#header {
    background-color: #483d8b;
    width: 100vw;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    z-index: 5;
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    z-index: 1000;
}

#firstTitle,
h1 {
    text-shadow: 5px 5px 10px #776bc5;
}

#firstTitle {
    position: absolute;
    z-index: 421;
    margin-left: 30px;
}

#userInterface {
    background-color: rgba(000, 000, 000, 0.5);
    height: 10vh;
    width: 100vw;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#helpDiv {
    position: absolute;
    right: 0px;
}

#helpBt {
    z-index: 50;
}

#helper {
    padding: 20px;
    z-index: 10000;
    width: 500px;
    height: 500px;
    background-color: #776bc5;
    border: 1px solid black;
}

#btns {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1500;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    background-color: #776bc5;
}

.inp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    padding: 10px;
    color: #fff;
    background-color: #776bc5;
}

.btn:hover {
    transform: scale(1.03);
}

#root {
    position: absolute;
    top: 0;
}

#ui {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 500;
}

#register {
    margin-top: 0;
}

#working {
    opacity: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20vh;
    border: 2px solid #fff;
    box-shadow: 0 0 2em #776bc5;
    padding: 30px;
    width: 50vw;
    z-index: 250;
}

#addiction {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 420;
    background-color: RGBA(0, 0, 0, 0.7)
}